{% extends 'base.html.twig' %}

{% block title %}Trick : {{ trick.title }}{% endblock %}

{% block body %}
    <div class="container  border border-dark">

        <!--  Image à la une -->
        <div class="thumbnail text-center">


            {% if trick.images.first %}
                <img src="{{ asset('uploads/images/'~trick.images.first.url) }}" alt="">
            {% else %}
                <img src="{{ asset('img/trick/snowboarder.jpg') }}" class="img-fluid mb-5 imgBack"
                     alt="Responsive image">
            {% endif %}
            <div class="caption">
                <h1 class="font-italic text-dark textShad">{{ trick.title }}</h1>
            </div>
        </div>


        <div class="container mt-5 mb-5">
            <div class="text-center">
                {{ include('Admin/Trick/delete_form.html.twig') }}
            </div>
        </div>

        <!-- Boucle images -->
        <div class="d-flex justify-content-around pt-5">
            {% for image in trick.images %}

            <div class="card mb-3 " style="width: 10rem;">
                <img class="card-img-top  "
                     src="{{ asset('uploads/images/'~image.url)|imagine_filter('squared_thumbnail') }}"
                     alt="Card image cap">
            </div>

            {% if loop.index is divisible by (4) and not loop.last %}
        </div>
        <div class="d-flex justify-content-around mt-2  ">
            {% endif %}
            {% endfor %}
        </div>


        <!-- Boucle video -->
        <div class="d-flex justify-content-around pt-5">
            {% for video in trick.videos %}

            <div class="card mb-3" style="width: 12rem">
                {{ video.video()|raw }}
            </div>

            {% if loop.index is divisible by (4) and not loop.last %}
        </div>
        <div class="d-flex justify-content-around mt-2  ">
            {% endif %}
            {% endfor %}
        </div>

        <!-- Contenu -->
        <div class="container">
            <p class="justify-content">
                {{ trick.content | raw }}
            </p>

            <span class="badge badge-primary">{{ trick.trickGroup.name }}</span>
        </div>


        <div class="container mt-5 mb-5">
            {% if is_granted('ROLE_ADMIN') %}
                {{ form_start(chatForm) }}
                {{ form_row(chatForm.message) }}
                <button type="submit" class="btn btn-primary" formnovalidate>Envoyer</button>
                {{ form_end(chatForm) }}
            {% endif %}

            {% for chat in trick.chats %}
                <div class="media bg-light">
                    {% if chat.user.avatar %}
                        <img class="mr-3"
                             src="{{ asset('uploads/avatars/'~chat.user.avatar) | imagine_filter('avatar') }}"
                             alt="Generic placeholder image">
                    {% else %}
                        <img class="mr-3"
                             src="{{ asset('img/avatar/defAvatar.png')|imagine_filter('avatar') }}"
                             alt="Generic placeholder image">
                    {% endif %}
                    <div class="media-body">
                        <div class="d-flex flex-row">

                            <p class="ml-1 font-weight-bold">{{ chat.user.username }}</p>


                            <p class="ml-1 font-weight-light">{{ chat.date|date('d-m-Y g:i') }}</p>
                        </div>
                        <p class=" mb-0">{{ chat.message }}</p>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>


{% endblock %}

