{% extends 'base.html.twig' %}

{% block title %}Trick : {{ trick.title }}{% endblock %}

{% block body %}

    <div class="container rounded border border-success bg-light pt-5 mt-5">

        <!--  Image à la une -->
        <div class="thumbnail text-center">


            {% if trick.images.first %}
                <img class="img-fluid w-100"
                src="{{ asset('uploads/images/'~trick.images.first.url)| imagine_filter('show') }}" alt="Responsive Image">
            {% else %}
                <img src="{{ asset('img/trick/snowboarder.jpg') | imagine_filter('show') }}"
                     class="img-fluid mb-5 imgBack"
                     alt="Responsive image">
            {% endif %}

            <a href="{{ path('admin_trick_edit', {'slug':trick.slug}) }}" class=" mt-1" id="del1"><i
                        class="btn fa fa-pencil"></i></a>
            <a href="#" class="mt-1" id="del2">{{ include('Admin/Trick/delete_form.html.twig') }}</a>

            <div class="caption bg-light" style="opacity: 0.9;">
                <h1 class="font-italic text-black textShad">{{ trick.title }}</h1>
            </div>
        </div>


        <!-- Boucle images -->
        <div class="container-fluid mt-5 mb-3">
            <div class="row justify-content-between">
                {% for image in trick.images %}
                    <div class="col-6 col-md-3  ">
                        <div class="card mb-3 " style="width: 10rem;">
                            <img class="card-img-top"
                            src="{{ asset('uploads/images/'~image.url)|imagine_filter('squared_thumbnail') }}"
                            alt="Card image cap">
                        </div>
                    </div>
                {% endfor %}

                <!-- Boucle video -->
                {% for video in trick.videos %}
                    <div class="col-12 col-md-3" style="width: 10rem">
                        {{ video.video()|raw }}
                    </div>
                {% endfor %}
            </div>
        </div>


        <hr>
    <!-- Contenu -->
    <div class="container">
        <h3 class="font-weight-light font-italic">Description:</h3>
        <p class="justify-content">
            {{ trick.content | raw }}
        </p>
        <div class="container">
            <span class=" p-1 badge badge-primary">{{ trick.trickGroup.name }}</span>
            <span class="p-1 badge badge-primary">{{ trick.date|date('d-m-Y g:i') }}</span>

        </div>
    </div>
    <hr>


    <div class="container mt-5 mb-5 pb-5">
        {% if is_granted('ROLE_ADMIN') %}
            {{ form_start(chatForm) }}
            {{ form_row(chatForm.message) }}
            <button type="submit" class="btn btn-primary" formnovalidate>Envoyer</button>
            {{ form_end(chatForm) }}
        {% endif %}

        <div class="container w-75 pt-5">
            <h4 class="pb-4">Commentaires</h4>
            {% for chat in trick.chats %}
                <div class="media m-1 rounded">
                    {% if chat.user.avatar %}
                        <img class="mr-3"
                             src="{{ asset('uploads/avatars/'~chat.user.avatar) | imagine_filter('avatar') }}"
                             alt="Generic placeholder image">
                    {% else %}
                        <img class="mr-3"
                             src="{{ asset('img/avatar/defAvatar.png')|imagine_filter('avatar') }}"
                             alt="Generic placeholder image">
                    {% endif %}
                    <div class="media-body ">
                        <div class="d-flex flex-row">

                            <p class="ml-1 font-weight-bold">{{ chat.user.username }}</p>


                            <p class="ml-1 font-weight-light">{{ chat.date|date('d-m-Y g:i') }}</p>
                        </div>
                        <p class=" mb-0">{{ chat.message }}</p>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
    </div>


{% endblock %}

