{% extends 'base.html.twig' %}

{% block body %}
    <div class="thumbnail text-center">
        <img src="{{ asset('img/trick/snowboarder2.jpg')}}" class="img-fluid   " alt="Responsive image">

        <div class="caption">
            <h1 class="font-italic  textShad ">Born to board...</h1>
        </div>
    </div>
    <div class="gradient-line p-1"></div>
    <div class="container mt-5  ">
        <div class="row align-items-center ">
            {% for trick in tricks %}
                <div class="col-12 col-md-3  ">
                    <div class="card mb-3  " style="width: 17rem;">
                        {% if trick.images.first %}
                            <img class="card-img-top "
                                 src="{{ asset('uploads/images/'~trick.images.first.url)|imagine_filter('homeList') }}"
                                 alt="">
                        {% else %}
                            <img class="card-img-top "
                                 src="{{ asset('img/trick/snowboarder.jpg')| imagine_filter('homeList') }}"
                                 alt="Card image cap">
                        {% endif %}
                        <div class="card-body p-2 rounded-bottom">
                            <a href="{{ path('trick_show', {'slug': trick.slug}) }}"
                               class="card-link ">{{ trick.title|length > 10 ? trick.title|slice(0,10)~'...': trick.title }}</a>
                            {% if is_granted('ROLE_USER') %}
                                <a href="#"
                                   class="card-link float-right">{{ include('Admin/Trick/delete_form.html.twig') }}</a>
                                <a href="{{ path('admin_trick_edit', {'slug':trick.slug}) }}"
                                   class=" card-link float-right"><i
                                            class=" btn  fa fa-pencil" id="editBtn"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>


            {% endfor %}
        </div>
    </div>

    </div>

    <div class="container pb-3">
        <div class="text-center pt-1">
            <button id="loadMore" type="submit" class="btn rounded "><i class="fa fa-spinner" aria-hidden="true"></i>
                Load more
            </button>
        </div>

        <p class="totop text-right">
            <a href="#top"><i class="fa fa-arrow-circle-up fa-2x"></i></a>
        </p>
    </div>


{% endblock %}
{% block javascript %}

    {{ parent() }}
    <script>
        $(function () {
            $("div.card.mb-3").hide();
            $("div.card.mb-3").slice(0, 12).show();
            $("#loadMore").on('click', function (e) {
                e.preventDefault();
                $("div.card.mb-3:hidden").slice(0, 4).show();
                if ($("div.card.mb-3:hidden").length == 0) {
                    $("#loadMore").fadeOut('slow');
                }
                $('html,body').animate({
                    scrollTop: $(this).offset().top
                }, 1500);
            });
        });
        //
        $('a[href="#top"]').click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 600);
            return false;
        });

        // $(window).scroll(function () {
        //     if ($(this).scrollTop() > 50) {
        //         $('.totop a').fadeIn();
        //     } else {
        //         $('.totop a').fadeOut();
        //     }
        // });
    </script>
{% endblock %}
